*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #acdeff );
}

.auth-box{
    width: 380px;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.auth-box h2{
    margin-bottom: 20px;
    color: #0099ff;
    text-align: center;
}

.auth-box input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

.auth-box button{
    width: 100%;
    background: #0099ff;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.auth-box button:hover{
    background: #007acc;
}

.auth-box p{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.auth-box a{
    color: #0099ff;
    text-decoration: none;
    font-weight: bold;
}