 {% load static %}
 <!-- Footer Section Begin -->
    <footer class="footer" style="background:black;">
        <div class="container">
            <div class="row">

                <!-- About -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                           <a href="#"><img style="width:250px;" src="{% static 'img/spartan_img.jpg' %}" alt=""></a>
                        </div>
                        <p>Spartans Mobile – Your trusted destination for mobile sales, service, spare parts and premium accessories.</p>
                        <div class="hero__social">
                                <a style="color:blue;" href="#"><i class="fa-brands fa-facebook"></i></a>
                                <a style="color:#FF69B4;" href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a style="color:blue;" href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#" class="social-youtube"><i class="fa-brands fa-youtube"></i></a>
                            </div>
                    </div>
                </div>

                <!-- Services -->
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Our Services</h6>
                        <ul>
                            <li><a href="#">Display Replacement</a></li>
                            <li><a href="#">Motherboard Repair</a></li>
                            <li><a href="#">Software Issues</a></li>
                            <li><a href="#">Mobile Accessories</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Support -->
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Support</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Warranty & Service</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Return & Exchange</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Newsletter -->
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <ul >
                            <li >
                                <h4 style="color:white;">Tamil Nadu</h4>
                                <p style="color: #d3d3d3;">
                                    Spartans Mobile Accessories And Service,<br>
                                    97, Singaravelan Street, Alagar Nagar, K.Pudur, Madurai, Tamil Nadu 625007<br>
                                    +91 98765 43210
                                </p>
                            </li>
                            <li style="margin-top:50px;">
                                <h4 style="color:white;">Email Support</h4>
                                <p style="color:#d3d3d3;">
                                    support@spartanmobile.in<br>
                                    sales@spartanmobile.in
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Copyright -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <p>
                            Copyright © 
                            <script>document.write(new Date().getFullYear());</script>
                            Spartans Mobile | All Rights Reserved
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </footer>
<!-- Footer Section End -->