 {% load static %}
 <!-- Footer Section Begin -->
    <footer class="footer" style="background:black;">
        <div class="container">
            <div class="row">

                <!-- About -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>Spartans Mobile – Your trusted destination for mobile sales, service, spare parts and premium accessories.</p>
                        <a href="#"><img style="width:250px;" src="{% static 'img/spartan_img.jpg' %}" alt=""></a>
                    </div>
                </div>

                <!-- Services -->
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Our Services</h6>
                        <ul>
                            <li><a href="#">Display Replacement</a></li>
                            <li><a href="#">Motherboard Repair</a></li>
                            <li><a href="#">Software Issues</a></li>
                            <li><a href="#">Mobile Accessories</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Support -->
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Support</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Warranty & Service</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Return & Exchange</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Newsletter -->
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>Newsletter</h6>
                        <div class="footer__newslatter">
                            <p>Get updates on mobile offers, repairs, new products & exclusive discounts!</p>
                            <form action="#">
                                <input style="color:white;" type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Copyright -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <p>
                            Copyright © 
                            <script>document.write(new Date().getFullYear());</script>
                            Spartans Mobile | All Rights Reserved
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </footer>
<!-- Footer Section End -->