{% load static %}
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Offcanvas Menu Begin -->

<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    {% if not user.is_authenticated %}
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="/sign_up">Sign Up</a>
                <a href="/sign_in">Sign In</a>
            </div>
        </div>
    {% endif %}

    <div class="offcanvas__nav__option">
        {% if user.is_authenticated %}
            
            <div class="profile-dropdown">
                <a href="#" class="profile-toggle"><img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D" alt="Profile"></a>
                <span>My Profile</span>
                <ul class="profile-menu">
                    <li><a href="/">{{ user.first_name }}</a></li>
                    <li><a href="/">{{ user.email }}</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
            <a  href="/favorites"><img src="{% static 'img/heart.png' %}" alt=""></a>
            <a style="margin-left:10px;" href="/shoping_card"><img src="{% static 'img/cart.png' %}" alt=""><span>0</span></a>
        {% endif %}
    </div>

    <div id="mobile-menu-wrap"></div>

    <div class="offcanvas__text">
        <p>Fast mobile service • Genuine spare parts • Warranty available</p>
    </div>
</div>

<!-- Offcanvas Menu End -->


 <!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="/">
                        <img src="{% static 'img/spartans.png' %}" alt="Spartans Logo" class="site-logo">
                    </a>
                </div>

            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li {% if request.path == '/' %}class="active"{% endif %}><a href="/">Home</a></li>
                        <li {% if request.path == '/shop' %}class="active"{% endif %}><a href="/shop">Shop</a></li>
                        <li {% if request.path == '/service_type' %}class="active"{% endif %}><a href="/service_type">Service Type</a></li>
                        <li {% if request.path == '/about' %}class="active"{% endif %}><a href="/about">About Us</a></li>
                        <li {% if request.path == '/contact' %}class="active"{% endif %}><a href="/contact">Contacts</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    {% if user.is_authenticated %}
                    <a href="/favorites"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#00000"><path d="m480-120.67-46.67-42q-104.18-95.08-172.25-164.04Q193-395.67 152.67-450.17q-40.34-54.5-56.5-99.16Q80-594 80-640q0-91.44 61.33-152.72 61.34-61.28 152-61.28 55.34 0 103.34 25.33 48 25.34 83.33 72.67 39.33-49.33 86.33-73.67 47-24.33 100.34-24.33 90.66 0 152 61.28Q880-731.44 880-640q0 46-16.17 90.67-16.16 44.66-56.5 99.16-40.33 54.5-108.41 123.46-68.07 68.96-172.25 164.04l-46.67 42Zm0-88.66q99.49-90.67 163.75-155.5Q708-429.67 745.67-478.17q37.66-48.5 52.66-86.42t15-75.31q0-64.1-41.33-105.77-41.33-41.66-105.18-41.66-50.02 0-92.59 29.83-42.56 29.83-65.56 81.5h-58q-22.34-51-64.9-81.17-42.57-30.16-92.59-30.16-63.85 0-105.18 41.66-41.33 41.67-41.33 105.88 0 37.46 15 75.62 15 38.17 52.66 87Q252-428.33 316.67-363.83q64.66 64.5 163.33 154.5Zm0-289Z"/></svg></a>
                    <a href="/shoping_card"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#00000"><path d="M284.53-80.67q-30.86 0-52.7-21.97Q210-124.62 210-155.47q0-30.86 21.98-52.7Q253.95-230 284.81-230t52.69 21.98q21.83 21.97 21.83 52.83t-21.97 52.69q-21.98 21.83-52.83 21.83Zm400 0q-30.86 0-52.7-21.97Q610-124.62 610-155.47q0-30.86 21.98-52.7Q653.95-230 684.81-230t52.69 21.98q21.83 21.97 21.83 52.83t-21.97 52.69q-21.98 21.83-52.83 21.83ZM238.67-734 344-515.33h285.33l120-218.67H238.67ZM206-800.67h589.38q22.98 0 34.97 20.84 11.98 20.83.32 41.83L693.33-490.67q-11 19.34-28.87 30.67-17.87 11.33-39.13 11.33H324l-52 96h487.33V-286H278q-43 0-63-31.83-20-31.84-.33-68.17l60.66-111.33-149.33-316H47.33V-880h121.34L206-800.67Zm138 285.34h285.33H344Z"/></svg><span style="color: black; font-size:15px; margin-left:25px;">({{ cart.count }})</span</a>
                        <div class="profile-dropdown">
                            <a href="#" class="profile-toggle"><img src="{% static "img/user.png"%}" alt="Profile"></a>
                            <ul class="profile-menu">
                                <li ><a href="/" style="color:black;">My Profile</a></li>
                                <li><a href="/">{{ user.first_name }}</a></li>
                                <li><a href="/">{{ user.email }}</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <div class="auth-links" style="margin-top:12px;">
                            <a href="/sign_in" class="signin">Sign In</a>
                            <a href="/sign_up" class="signup">Sign Up</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>

<!-- Header Section End -->