{% load static %}
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Offcanvas Menu Begin -->

<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    {% if not user.is_authenticated %}
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="/sign_up">Sign Up</a>
                <a href="/sign_in">Sign In</a>
            </div>
        </div>
    {% endif %}

    <div class="offcanvas__nav__option">
        {% if user.is_authenticated %}
            
            <div class="profile-dropdown">
                <a href="#" class="profile-toggle"><img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D" alt="Profile"></a>
                <span>My Profile</span>
                <ul class="profile-menu">
                    <li><a href="/">{{ user.first_name }}</a></li>
                    <li><a href="/">{{ user.email }}</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
            <a  href="/favorites"><img src="{% static 'img/heart.png' %}" alt=""></a>
            <a style="margin-left:10px;" href="/shoping_card"><img src="{% static 'img/cart.png' %}" alt=""><span>0</span></a>
        {% endif %}
    </div>

    <div id="mobile-menu-wrap"></div>

    <div class="offcanvas__text">
        <p>Fast mobile service • Genuine spare parts • Warranty available</p>
    </div>
</div>

<!-- Offcanvas Menu End -->


 <!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="/">
                        <img src="{% static 'img/spartans.png' %}" alt="Spartans Logo" class="site-logo">
                    </a>
                </div>

            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li {% if request.path == '/' %}class="active"{% endif %}><a href="/">Home</a></li>
                        <li {% if request.path == '/shop' %}class="active"{% endif %}><a href="/shop">Shop</a></li>
                        <li {% if request.path == '/service_type' %}class="active"{% endif %}><a href="/service_type">Service Type</a></li>
                        <li {% if request.path == '/about' %}class="active"{% endif %}><a href="/about">About Us</a></li>
                        <li {% if request.path == '/contact' %}class="active"{% endif %}><a href="/contact">Contacts</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    {% if user.is_authenticated %}
                    <a href="/favorites"><img src="{% static 'img/heart.png' %}" alt="" ></a>
                    <a href="/shoping_card"><img src="{% static 'img/cart.png' %}" alt=""> <span>({{ cart.count }})</span></a>
                    
                        <div class="profile-dropdown">
                            <a href="#" class="profile-toggle"><img src="{% static "img/user.png"%}" alt="Profile"></a>
                            <ul class="profile-menu">
                                <li ><a href="/" style="color:black;">My Profile</a></li>
                                <li><a href="/">{{ user.first_name }}</a></li>
                                <li><a href="/">{{ user.email }}</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <div class="auth-links" style="margin-top:12px;">
                            <a href="/sign_in" class="signin">Sign In</a>
                            <a href="/sign_up" class="signup">Sign Up</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>

<!-- Header Section End -->