{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spartans Mobile</title>
    <link rel="icon" href="{% static 'img/title-logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'font.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

    <!-- Header  -->
    {% include "includes/header.html" %} 

     
    <!-- dynamic content -->
    {% block content %}
    {% endblock %}


    <!-- footer -->
    {% include "includes/footer.html" %} 


    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
