{% extends 'base.html' %}
{%block content%}
{% load static %}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">category</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <li class="active" data-filter="*"><a href="{% url 'spartans:shop' %}">All Products</a></li>
                                                    {% for category in categories %}
                                                        <li data-filter=".{{ category.name|lower|slugify }}">
                                                            <a href="{% url 'spartans:shop' %}?category={{ category.id }}" >{{ category.name }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul>
                                                {% for brand in brands %}
                                                    <li data-filter=".{{ brand.name|lower|slugify }}">
                                                        <a href="#">{{ brand.name }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                <li data-filter=".price-0-100"><a href="#">₹0 – ₹100</a></li>
                                                <li data-filter=".price-100-200"><a href="#">₹100 – ₹200</a></li>
                                                <li data-filter=".price-200-300"><a href="#">₹200 – ₹300</a></li>
                                                <li data-filter=".price-300-400"><a href="#">₹300 – ₹400</a></li>
                                                <li data-filter=".price-500-plus"><a href="#">₹500+</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseSix">Service</a>
                                </div>
                                <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__tags">
                                            <a href="#">Display</a>
                                            <a href="#">Motherboard</a>
                                            <a href="#">Battery</a>
                                            <a href="#">Repair Service</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Showing 1–12 of 126 results</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row product__filter">
                    {% for product in products %}
                    <div class="col-lg-4 col-md-6 col-sm-6 mix {{ product.brand.category.name|lower|slugify }} {{ product.brand.name|lower|slugify }} price-{{ product.get_price_range }}">
                        <div class="product__item">
                            <div class="product__item__pic">
                              <a href="{% url 'spartans:detail' product.id product.name|slugify %}"><img src="{% if product.main_image %}{{ product.main_image.url }}{% endif %}" alt="{{ product.name }}"></a>
                                <ul class="product__hover">
                                    <li><a href="#"><img  style="width:35px; height: 35px;" src="{% static 'img/heart.png' %}" alt=""></a></li>
                                    <li><a href="#"><svg style="background:white; width:33px; height:33px; padding:2px;" xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="black"><path d="M450-450H200v-60h250v-250h60v250h250v60H510v250h-60v-250Z"/></svg><span>Add To Card</span></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6>{{ product.name }}</h6>
                                <div class="rating">
                                    {% for i in "12345" %}
                                        <i style="color: #FF9529;" class="fa fa-star{% if forloop.counter > product.rating %}-o{% endif %}"></i>
                                    {% endfor %}
                                </div>
                                <h6>{{ product.brand.name }}</h6>
                                <h5>₹{{ product.price }}</h5>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No products available.</p>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <a class="active" href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <span>...</span>
                            <a href="#">21</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->

<style>
    /* Mobile gap between image and text */
    @media (min-width: 100px) and (max-width: 320px) {
        .product__item__text {
            margin-top: 35px ;
        }
    }
    @media (min-width: 321px) and (max-width: 767px) {
        .product__item__text {
            margin-top: 120px ;
        }
    }
    @media (min-width: 768px) and (max-width:1023px) {
        .product__item__text {
            margin-top: 80px ;
        }
    }
</style>
{%endblock%}