*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.auth-box{
    width: 350px;
    padding: 25px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.auth-box h2{
    margin-bottom: 10px;
    color: #333;
}

.subtitle{
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.auth-box input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 15px;
}

.btn{
    width: 100%;
    padding: 12px;
    background: #000;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.btn:hover{
    background: #444;
}

.links{
    margin-top: 15px;
}

.links a{
    color: #000;
    text-decoration: none;
    font-size: 14px;
}
.links a:hover{
    text-decoration: underline;
}

footer{
    margin-top: 20px;
    font-size: 13px;
    color: #555;
}
